@import './css/base.css';
@import './css/comments.css';
@import './css/footer.css';
@import './css/header.css';
@import './css/menu.css';
@import './css/popup.css';
@import './css/profile.css';

.text-limiter {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: 4.5em;
}
